html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: rgb(104, 107, 108);
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 600px;
    width: 400px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
}

.calculator-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 3px 30px 3px 30px;
    height: 50px;
    width: auto;
    font-size: 48px;
    color: white;
}

.calculator-display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 61px;
    font-family: 'digital-clock-font';
    margin-top: 10px;
    flex-shrink: 0;
    height: 60px;
    width: 370px;
    white-space: nowrap;
    overflow: hidden;
    color: red;
}

.main-body-buttons {
    border: 2px solid lightgray;
    background-color: gray;
    height: 60px;
    width: 60px;
    font-size: 30px;
    color: white;
    border-radius: 50px;
}

.main-body-buttons:hover {
    filter: brightness(150%);
}

.button-back {
    font-size: 23px;
}

.button-exp,
.button-divide,
.button-modulo,
.button-multiply,
.button-subtract,
.button-addition,
.button-equal {
    background-color: rgb(255, 149, 3);
}

.number-square {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 36px;
    /* margin-left: 30px; */
    width: 100%;
    gap: 26px
}

@font-face {
    font-family: 'digital-clock-font';
    src: url('./digital-dream.regular.ttf');
}